body {
  background-color: #f0f0f0; /* Light grey background */
  font-family: Arial, sans-serif; /* Use a readable font */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
 }

 button{
  background-color: turquoise;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  height: 3em;
  margin: 4px;
  transition: background-color 0.7s ease;
 }
 button:hover{
  background-color: aquamarine;
 }

 .main {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #ffffff; /* White background for the main container */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  width: 80%; /* Limit the width to make it look less cluttered */
  max-width: 600px; /* Ensure it doesn't get too wide on large screens */
 }
 
 #reader {
  width: 100%; /* Make the reader responsive */
  margin-bottom: 20px; /* Space between the reader and results */
  border-radius: 10px;
 }
 
 #result {
  display: none;
  max-height: auto; /* Allow the results to expand as needed */
  text-align: left;
  padding: 20px;
  border: 1px solid #ddd; /* Light border around the results */
  border-radius: 5px; /* Rounded corners for the results */
  background-color: #f9f9f9; /* Light grey background for the results */
 }
 
 h2, h4 {
  margin-bottom: 10px; /* Space between headings and content */
 }
 
 img{
  max-width: 12em;
  max-height: 12em;
 }
 #imghold{
  max-height: auto; /* Allow the results to expand as needed */
  display: none;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd; /* Light border around the results */
  border-radius: 5px; /* Rounded corners for the results */
  background-color: #f9f9f9; /* Light grey background for the results */
 }

 .navbar {
  border-bottom: 1px solid aquamarine;
  box-shadow: 0 0 30px aquamarine;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center; /* Center the button */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: white; /* Ensure the navbar has a background */
 }
 
 .today {
  border: 2px solid aquamarine;
  border-radius: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column; /* Stack meal sections vertically */
  padding: 20px;
  width: 100%;
  max-width: 600px;
  min-height: 100px;
  margin-top: 5em;

 }
 .meal-section{
  vertical-align: text-top;
  border: 2px solid aquamarine;
  padding: 2px;
  border-radius: 10px;
  min-height: 1em;
 }
 .mealname{
  vertical-align: top;
 }

 .placeholder{
  position: absolute;
  top: 0%;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  height: fit-content;
 }
 

 .item{
  width: 10em;
  height: 15em;
  max-height: fit-content;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 2px 2px 2px grey;
 }
 .search{
  outline: none;
  box-shadow: 2px 2px 2px solid black;
 }